.Checkout-head {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.whole-container {
  padding: 10px;
  border: 2px solid;
  margin-left: 10px;
  width: 500px;
}

.totalOrder-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.checkout-container {
  margin-top: 30px;
  /* width: 50%; */
}

.border-container {
  padding: 10px;
  border: 2px solid;
  margin: 10px;
  /* width: 50%; */
}

.border-container-head-text {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  margin-top: -20px;
  margin-left: 20px;
  background-color: #36768c;
  padding: 0 10px;
}

.payment-container-checkout {
  position: absolute;
  background-color: antiquewhite;
  color: green;
  /* display: flex; */
  justify-content: center;
  /* text-align: center; */
  padding: 50px;
  margin-top: -300px;
  margin-left: 30%;
}

.tick-checkout {
  font-size: 35px;
  margin-left: 40%;
}

.main-checkout {
  display: flex;
  justify-content: center;
}

.checkout-payment-input,
.checkout-delivery-input {
  margin-right: 10px;
}
