.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
}

.errorPage-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}
