.footer-container {
  background-color: blanchedalmond;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  display: flex;
}

.footer-section-info {
  flex-basis: 25%;
  margin-left: 50px;
  margin-top: 20px;
}

.footer-section-address {
  margin-top: 40px;
  flex-basis: 25%;
}

.footer-section-social {
  flex-basis: 25%;
  margin-top: 20px;
}

.footer-section-payments {
  flex-basis: 25%;
  margin-top: 20px;
}

.footer-head {
  margin-bottom: 10px;
  text-decoration: underline;
}

.masterCard,
.payPal,
.applePay,
.googlePay,
.visa,
.amex {
  margin-right: 20px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}

.email,
.meta,
.x,
.instagram,
.youtube,
.tiktok {
  margin-right: 20px;
  margin-top: 30px;
}
