/* //////////////////////////HomePage */
.Header-colour {
  text-align: center;
  color: blanchedalmond;
}

.Header {
  text-align: center;
}

/* ////////////////////////////Home */

.Border {
  margin: 5px 2px;
  /* margin-bottom: 5px; */
  list-style: none outside none;
}

.single {
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.loading-home {
  display: flex;
  justify-content: center;
  color: #ccc;
  margin-top: 50px;
  margin-bottom: 1000px;
}

/* //////////////////SearchBar */

.sort-block {
  margin-left: 15px;
}

.order-block {
  margin-left: 15px;
}
