/* //////////////////////////HomePage */
.Header-colour {
  text-align: center;
  color: blanchedalmond;
}

.Header {
  text-align: center;
}

/* ////////////////////////////Home */

.wine-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Border {
  margin: 5px 2px;
  /* margin-bottom: 5px; */
  list-style: none outside none;
}

.single {
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loading-gif {
  width: 100px;
  height: 100px;
}

.loading-home {
  margin-top: 20px;
  font-size: 1.2em;
  color: #ccc;
}

/* //////////////////SearchBar */

.sort-block {
  margin-left: 15px;
}

.order-block {
  margin-left: 15px;
}
