.NaviBar {
  font-size: 18px;
  text-transform: uppercase;
  /* display: flex; */
  /* background-color: #ccc; */
  border-bottom: 4px solid black;
  background-color: transparent;
  height: 60px;
}

.NavBar {
  color: white;
  list-style-type: none;
  /* display: flex; */
  /* color: black; */
  margin-right: 25px;
  text-align: center;
  margin-top: 20px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}

.NavBar-link {
  color: black;
  font-weight: bolder;
}

.active {
  color: blanchedalmond;
  /* display: inline-block; */
}
