.SingleCard {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(248, 239, 239, 0.2);
  border-radius: 10px;
  height: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.pcs-singleCard {
  border-radius: 10px;
}

.main-single-card-container {
  display: flex;
  /* flex-basis: 50%; */
}

.left-flexbox-container {
  flex-basis: 20%;
}

.right-flexbox-container {
  /* margin-top: 10px; */
  margin-left: 20px;
  margin-right: 100px;
  flex-basis: 80%;
}

.delivery-container {
  margin-top: 50px;
}

.singleCard-others-buying {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.delivery-singleCard {
  margin-left: 5px;
}

.delivery-info {
  margin-top: 10px;
}

.like-dislike-container {
  display: flex;
  justify-content: start;
  margin-left: 5%;
}

.arrowDown {
  padding: 5px;
}

.arrowDown:hover,
.thumbsUp:hover,
.thumbsDown:hover {
  cursor: pointer;
}

.thumbsUp,
.thumbsDown {
  font-size: 24px;
  padding: 5px 20px;
}

.button-singleCard {
  position: absolute;
  /* font-size: 15px; */
  /* display: flex;
  justify-content: center; */
  /* margin-left: 85%; */
  height: 40px;
  margin-left: 240px;
  margin-top: -37px;
  cursor: pointer;
  border-radius: 5px;
  background-color: lightgreen;
}

.add-comment {
  display: flex;
  justify-content: start;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  /* margin-left: 85%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px; */
  border-radius: 10px;
  cursor: pointer;
  color: lightgreen;
}

.close-comment-btn {
  /* position: absolute;
  margin-left: 1.5%;
  margin-bottom: 5px; */
  /* margin-top: -1px; */
  padding: 10px;
  background-color: lightcoral;
  border-radius: 10px;
}

.post-comment-btn {
  /* position: absolute; */
  /* margin-top: 50px;
  margin-left: 1.5%; */
  padding: 10px 15px;
  background-color: lightgreen;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 60%;
  margin-right: 5px;
}

.noCom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-singleCard {
  margin-left: 5%;
  width: 90%;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.textarea-singleCard {
  margin-left: 5%;
  width: 90%;
  height: 100px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.eachReview-conatiner {
  /* display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 1%;
  margin-right: 1%; */
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(248, 239, 239, 0.2);
  border: 1px solid rgb(236, 172, 172);
  border-radius: 10px;
  height: 100%;
  margin-bottom: 5px;
}

.card-title-singleCard {
  /* make all leters upper */
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px;
  margin-top: 15px;
  font-weight: 500;
}

.card-sub-title-singleCard {
  /* make each  word first letter -capital */
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info-singleCard {
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0;
  font-weight: 400;
}

.ups {
  margin-top: 10px;
  margin-bottom: 30px;
}

.othersBuy-container {
  display: flex;
  justify-content: center;
}

.SingleCardMsgBasket {
  position: absolute;
  margin-top: -450px;
  margin-left: 70%;
  color: rgb(48, 119, 42);
  font-weight: 500;
  /* font-size: 10px; */
}
