.card {
  border-radius: 10px;
  /* can't see the text that is comming from the right */
  overflow: hidden;
  /* border: 8px solid #e9a7a7; */
  position: relative;
}

.card:hover .card-body {
  right: 0;
}

/* .Card { */
/* box-shadow: 0 4px 4px 0 rgba(26, 24, 24, 0.2); */
/* transition: 0.3s; */
/* margin: 10px; */
/* width: 15em;
    height: 10em; */

/* margin-right: 10%;
    margin-left: 10%; */
/* background-color: rgba(91, 192, 219, 0.61); */
/* } */

.card-img {
  /* height: 100%; */
  /* width: 100%; */
  object-fit: cover;
  /* text-align: left; */
  border-radius: 5px;
}

/* make img blur, comminig from rigth  */
.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  /* text comming from the right  */
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card-title {
  /* make all leters upper */
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.card-sub-title {
  /* make each  word first letter -capital */
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 15px 0;
  font-weight: 400;
}
