* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App {
 
} */

body {
  width: 100%;
  height: 100%;
  /* background-color: #282c34; */
  /* background-color: #36768c; */
  background-image: url("./IMG/peakpx\ \(21\).jpg");
  /* backdrop-filter: grayscale(50%); */
  /* backdrop-filter: blur(5px); */
  font-family: "roboto";
}

/* //////////////////////Main header  */

.Wine-logo {
  height: 150px;
  width: 100%;
}

.LikeDislikeBtn {
  position: absolute;
  bottom: 190px;
  left: 28em;
  color: red;
  width: 30px;
  display: flex;
  flex-direction: row;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.CardBorder {
  margin: 5px;
  background-color: rgb(180, 180, 235);
}

.Sample {
  margin-bottom: 10px;
}

.SearchBar {
  margin-bottom: 5em;
  margin-left: 100px;
}

/* .App-header { */
/* background-color: #282c34; */
/* min-height: 100vh; */
/* display: flex;
  flex-direction: column; */
/* text-align: center; */
/* justify-content: center; */
/* /* font-size: calc(10px + 2vmin); */
/* color: white; */
/* } */

/* Basket */

/* //////////////////////////// */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
