* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* background-color: #282c34; */
  /* background-image: url("./IMG/peakpx\ \(22\).jpg"); */

  margin: 0;
  font-family: "Roboto", sans-serif;
  /* position: relative; */
  min-height: 100vh;
  /* z-index: 0; */
}

/* //////////////////////Main header  */

.Wine-logo {
  height: 150px;
  width: 100%;
}

.LikeDislikeBtn {
  position: absolute;
  bottom: 190px;
  left: 28em;
  color: red;
  width: 30px;
  display: flex;
  flex-direction: row;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.CardBorder {
  margin: 5px;
  background-color: rgb(180, 180, 235);
}

.Sample {
  margin-bottom: 100px;
}

.SearchBar {
  margin-bottom: 5em;
  margin-left: 100px;
}

.wine-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* center horizontally */
  padding: 20px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./IMG/peakpx\ \(22\).jpg"); /* if in public folder */
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.NaviBar {
  margin-right: 5%;
  margin-left: 5%;
}

/* .content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 100px;
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* Basket */

/* //////////////////////////// */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
